a.ad-group-item-inactive div.ad-group-item-title {
    color: #aaa;
}

.ad-group-item-title {
    padding: 8px 8px 0px 56px;
}

.ad-group-item-title-selected {
    background: #eaeaea;
    border-left: 3px solid #4285f4;
    color: #4285f4;
    padding-bottom: 5px;
}

.ad-group-item-title-selected:hover {
    background: #646464;
    color: #fff;
}

.ad-group-item-title:hover {
    color: #fff;
}

.app-bar, .app-bar > * {
    background: #f4f4f4 ;
    color: #333 ;
}

.app-bar-breadcrumb-item, .breadcrumb-items,.scoping-nav-arrow {
    background: #f4f4f4;
    color: #333;
}

.aw-status.enabled, aw-status-header {
    height: 8px;
    width: 8px;
}

.bell {
    fill: #333;
}

.campaign-item {
    margin-top: 20px;
}

.campaign-item-title {
    padding: 8px 8px 0px 16px;
}

.campaign-item-title-selected {
    background: #fff;
    font-size: 1.1em;
    font-weight: bold;
}

.campaign-item-title.campaign-item-title-selected:hover {
    color: #333;
}

.campaign-item-title:hover {
    color: #fff;
}

.campaign-item.campaign-item-inactive .ad-group-item-title {
    color: #888;
}

.channel-picker-item-selected {
    background-color: #f4f4f4;
    color: #333;
    font-size: 1.1em;
    font-weight: bold;
}

.customer-id, .campaign-section-title,.hidden-statuses-section {
    color: #888 ;
}

.ess-cell-ellipsis {
    white-space: normal;
}

.ess-table-canvas, .ess-cell {
    /*border-right: 1px solid #eee;*/
}

.left-nav.rtl.visible {
    background: #f4f4f4 ;
    border-right: 1px solid #ccc;
    color: #333 ;
}

.mat-checkbox-container {
    border: 1px solid #ccc;
}

.particle-row-scroll-container > ess-cell, ess-cell {
    border-right: 1px solid #eee;
}

.particle-table-header-cell, header-tools-cell {
    background: #f4f4f4;
}

.particle-table-header-cell.data-numeric, .particle-table-header-cell {
    border-right: 1px solid #ccc;
}

.settings-button {
    background: #777;
    font-size: 1px;
    height: 28px;
    margin-top: 10px;
    width: 28px;
}

.settings-button:after {
    height: 28px;
    width: 28px;
}

.skinny-nav-item-selected {
    background: #eee;
    box-shadow: inset 4px 0 0 0 #3b78e7;
}

ad-group-view {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
}

awsm-app-bar {
    box-shadow: none;
}

awsm-customer-tree-toggle {
    border-bottom: 1px solid #ccc;
    padding: 12px 0 12px 12px;
}

awsm-skinny-nav {
    border-top: 1px solid #ccc;
}

awsm-skinny-nav div.skinny-nav {
    background: #fff;
}

body {
    font-family: 'Arial', 'Roboto', 'sans-serif';
}

chart-container-view {
    background: #fff;
}

deferred-app-menus material-button {
    background: #eee;
}

div.campaign-icon-display {
    background-image: url("https://ssl.gstatic.com/awfe30/aw3_cm_20180611_030314_RC2/cm/35E88890227E1D573C5648DAFC7C8110.cache.svg");
    background-size: 80%
;
}

div.campaign-icon-search {
    background-image: url("https://ssl.gstatic.com/awfe30/aw3_cm_20180611_030314_RC2/cm/E45D0A6357F7BFB31BF37ABE2F0CAC6D.cache.svg");
    background-size: 80%
;
}

div.campaign-icon-shopping {
    background-image: url("https://ssl.gstatic.com/awfe30/aw3_cm_20180611_030314_RC2/cm/43C20F0350AC1579CDBC5129301E0FDB.cache.svg");
    background-size: 80%
;
}

div.campaign-item-active a.campaign-item-title-selected {
    background: #eaeaea;
    font-weight: bold;
}

div.campaign-item-active div.ad-group-items {
    background: #fff;
}

div.campaign-item-inactive a {
    color: #999;
}

div.channel-picker-item-selected {
    background: #646464
;
    color: #fff;
}

div.customer-name {
    font-size: 13px;
    font-weight: 600;
}

div.customer-tree-toggle {
    min-height: auto;
    padding: 4px 4px 0 0;
}

div.ess-table-wrapper {
    border: 1px solid #ddd;
}

div.header-sticky-container div.base-root-header {
    height: auto;
}

div.infosnacl {
    border-top: 1px solid #ccc;
}

div.left-nav-logo {
    /*display: none;*/
}

div.particle-table-header.particle-table-last-header.particle-table-first-header {
    border-bottom: 1px solid #aaa;
}

div.view-container {
    background: #fff;
    padding-left: 10px;
}

ess-table ess-cell .campaign-name {
    padding: 5px 0;
}

header-tools-cell + div.particle-table-header-cell, tools-cell + ess-cell {
    padding: 0 4px;
    padding-right: 16px;
}

header-tools-cell, tools-cell {
    padding-left: 4px;
}

infosnack div.container {
    background: #fff;
}

material-date-range-picker .range-title {
    color: #333;
    font-size: 1.1em;
    margin-right: 20px;
    padding-bottom: 2px;
}

material-date-range-picker div.main-content {
    flex-direction: row;
    height: auto;
}

search div.baseline {
    border: 1px solid #dedede;
}

search material-input {
    width: 350px;
}

.mcc-nav-popup-trigger a.breadcrumb {
    color: #888;
}

awsm-breadcrumbs {
    color: #333;
    background: #f4f4f4;
}

span.breadcrumb-item-wrapper, glyph.chevron-revamped {
    color: #777;
}

div.breadcrumb-item-wrapper div.app-bar-breadcrumb-item-name-and-id-revamped {
    color: #333;
}

awsm-breadcrumbs:hover {
    background: #ddd;
}

awsm-breadcrumbs div:hover {
    color: #111 ;
}

